$bdCor: skyblue;
$ftCor : orange;
$bgCor : yellow;

@mixin hdStyle{
	
	width : 300px;
	height:26px;
	border-top:1px solid $bdCor;
	border: {
		left: {
			width : 2px;
			style : solid;
			color : $bdCor;
		}
	}
	margin-bottom : 30px;

	a{
		text-decoration : none;
		light-height : 26px;
		font-size : 14px;
		font-weight : bold;
		color : $ftCor;
	}

	span{
		color : $ftCor;
	}

	&:hover{
		background : $bgCor;
	}

}

.hd1{
	@include hdStyle;
}

.hd2{
	@include hdStyle;
}

.hd3{
	@include hdStyle;
}