<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ngTable练习</title>
    <link rel="stylesheet" href="./lib/ng-table.css">
    <link rel="stylesheet" href="./lib/bootstrap.css">
    <style type="text/css">
    body {
        padding: 40px;
    }
    </style>
</head>

<body>
    <div ng-app="app">
        <div ng-controller="main">
            <table ng-table="tableParams">
                <tr ng-repeat="user in $data" show-filter="true">
                    <td header></td>
                    <td data-title="name" filter="{ name : 'text'}" sortable="'name'">{{user.name}}</td>
                    <td data-title="age" filter="{ age : 'number'}" sortable="'age'">{{user.age}}</td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="row">
            <h3>通过getData设置数据</h3>
            <div ng-controller="demoControllerGetData as demo" class="col-md-12">
                <script type="text/ng-template" id="headerCheckbox.html">
                    <input type="checkbox" ng-model="checkboxes.checked" class="select-all" />
                </script>
                <button ng-click="demo.btn()">点击</button>
                <label for="book">选择书籍</label>
                <select name="" id="book" ng-model="demo.bookData" ng-options="op for op in books" ng-change="demo.changeBook()">
                </select>
                <table ng-table="demo.tableParams" class="table table-condensed table-bordered table-striped">
                    <colgroup>
                        <col width="40%">
                        <col width="30%">
                        <col width="30%">
                    </colgroup>
                    <tr ng-repeat="user in $data" show-filter="true">
                        <!-- data-title 设置标题, filter 过滤 sortable 排序规则-->
                        <td data-title="'姓名'" filter="{ name : 'text'}" sortable="'name'">{{user.name}}</td>
                        <td data-title="'年龄'" filter="{ age : 'number'}" sortable="'age'">{{user.age}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3>通过settings设置数据</h3>
            <div ng-controller="demoController as demo">
                <label for="book">选择书籍</label>
                <select name="" id="book" ng-model="demo.bookData" ng-options="op for op in books" ng-change="demo.changeBook()">
                </select>
                <table ng-table="demo.tableParams">
                    <tr ng-repeat="haha in $data" show-filter="true">
                        <td data-title="'name'" filter="{ name : 'text'}" sortable="'name'">{{haha.name}}</td>
                        <td data-title="'age'" filter="{ age : 'number'}" sortable="'age'">{{haha.age}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3>分页</h3>
            <div ng-controller="paginationCtrl as ctrl">
                <table ng-table="ctrl.tableParams" class="table table-condensed table-bordered">
                    <tr ng-repeat="row in $data">
                        <td data-title="'name'">{{row.name}}</td>
                        <td data-title="'age'">{{row.age}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='./lib/angular-1.5.8/angular.js'></script>
    <script type="text/javascript" src='./lib/angular-1.5.8//angular-resource.js'></script>
    <script type="text/javascript" src="./lib/ng-table.js"></script>
    <script type="text/javascript">
    angular.module('app', ['ngTable', 'ngResource']).controller('main', function($scope, NgTableParams) {
                var data = [{
                    name: "岳不群",
                    age: 50
                }, {
                    name: "令狐冲",
                    age: 30
                }, {
                    name: "任盈盈",
                    age: 20
                }, {
                    name: "林平之",
                    age: 18
                }, {
                    name: "小师妹",
                    age: 18
                }, {
                    name: "仪琳",
                    age: 18
                }]; 
                // ngTable 学习 $scope.tableParams = new NgTableParams({}, {dataset: data}); console.log("1111", $scope.tableParams ); })

                .controller('demoControllerGetData', function($scope, NgTableParams, $resource) {
                        var api = $resource('./ngTable.json');
                        $scope.books = ['射雕英雄传', '笑傲江湖']
                            // ngTable 学习
                        var self = this;
                        // 通过函数为表格赋值
                        // 参数1是初次加载传递的数据. 参数2配置其他选项
                        self.tableParams = new NgTableParams({
                            count: 10, //每页显示的数据量
                            page: 2 //页码
                        }, {
                            total: 0, //总的数据量
                            counts: [10, 20, 40, 70], // 设置每页显示数据量的按钮显示的数字
                            // 每次点击筛选或分页都会触发该方法
                            getData: function(params) {
                                console.log("getData", params); // params: NgTableParams 实例
                                console.log(params.url()); // 当前的查询参数.
                                return api.get(params.url()).$promise.then(function(res) {
                                    var data = res.data;
                                    params.data = data; // params.data 设置数据
                                    params.total(res.pageInfo.total); // 设置总的数据数量
                                    params.page(res.pageInfo.pageNo);
                                    return res.data;
                                })
                            }

                        });
                        self.btn = function() {
                            console.log(self.tableParams, self.tableParams.page());
                        }
                    })
                    .controller('demoController', function($scope, NgTableParams) {
                        $scope.books = ['射雕英雄传', '笑傲江湖'];
                        var data1 = [{
                            name: "岳不群",
                            age: 50
                        }, {
                            name: "令狐冲",
                            age: 30
                        }, {
                            name: "任盈盈",
                            age: 20
                        }, {
                            name: "林平之",
                            age: 18
                        }, {
                            name: "小师妹",
                            age: 18
                        }, {
                            name: "仪琳",
                            age: 18
                        }, ];
                        var data2 = [{
                            name: "郭靖",
                            age: 50
                        }, {
                            name: "黄蓉",
                            age: 30
                        }, {
                            name: "黄药师",
                            age: 20
                        }, {
                            name: "老顽童",
                            age: 18
                        }, {
                            name: "洪七公",
                            age: 18
                        }, {
                            name: "欧阳锋",
                            age: 18
                        }, ];

                        // ngTable 学习
                        var self = this;
                        // 通过函数为表格赋值
                        self.tableParams = new NgTableParams({}, {});
                        self.changeBook = changeBook;

                        function changeBook() {
                            if (self.bookData === '笑傲江湖') {
                                self.tableParams.settings({
                                    dataset: data1
                                })
                            } else {
                                self.tableParams.settings({
                                    dataset: data2
                                })
                            }
                        }
                    })
                    // 分页练习控制器
                    .controller('paginationCtrl', function(NgTableParams) {
                        var data1 = [{
                            name: "岳不群",
                            age: 50
                        }, {
                            name: "令狐冲",
                            age: 30
                        }, {
                            name: "任盈盈",
                            age: 20
                        }, {
                            name: "林平之",
                            age: 18
                        }, {
                            name: "小师妹",
                            age: 18
                        }, {
                            name: "仪琳",
                            age: 18
                        }, ];
                        this.tableParams = new NgTableParams();
                        this.tableParams.settings({
                            dataset: data1
                        });
                    })
    </script>
</body>

</html>
