<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>哈哈哈, 我是哈哈</h1>
<script type="text/javascript">
    let iframeEle = document.createElement('iframe');
    iframeEle.src = 'http://sub.localhost.com/b.html#hashInfo=fromHaha';
    document.body.appendChild(iframeEle);
</script>
</body>
</html>