<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跨域练习</title>
</head>
<body>
<h3>cross origin</h3>
<h3>跨域练习</h3>
<p>
    可以通过在chrome的插件 switchyOmega 中配置域名转发来测试跨域
</p>
<p>
    如: 网址通配符 *://sub.localhost.com/* 转发到 127.0.0.1:3001
</p>
<p>
    如: 网址通配符 *://localhost.com/* 转发到 127.0.0.1:3000
</p>
<div id="content"></div>
<script type="text/javascript"></script>
</body>
</html>
